*{
    margin: 0;
    padding: 0;
    
}
.nav{
    margin-top: 7%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10em;
}
.nav a{
      text-decoration: none;
      color: #005792;
      font-size: 30px;
      font-family: Georgia, 'Times New Roman', Times, serif;
      border: 2px solid rgb(178, 195, 240);
      padding: 10px;
      border-radius: 15px;

}
.nav a:hover{
    border:1px dashed navy;
}
.contianer{
    margin-top: 10%;
  
}
p{
    color: cadetblue;
    text-align: center;
    font-size: 30px;
    margin-top: 4%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}